@font-face {
    font-family: "one-piece";
    src: url(../componentes/fonte/one\ piece\ font.ttf);
}


body{
    background-color: rgb(34, 34, 34);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

.bg{
    height: 100%;
    padding: 0;
    max-width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/* Main */
main{
    display: flex;
    margin-top: 50px;
}

input {
    padding: 15px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    width: 40%;
    background-color: #EE8C04;
    color: #fff;
}

form [type="submit"]:hover{
    cursor: pointer;
}

main.animes{
    gap: 80px;
    max-width: 1900px;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 0 50px;
}

.section-anime {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.section-anime h2{
    text-indent: 250px;
    font-family: "one-piece";
    font-size: 15px;
    letter-spacing: 15px;
    font-weight: 100;
    font-style: italic;
    margin-bottom: 200px;
    
}

.section-anime h1{
    text-align: start;
    font-family: "one-piece";
    letter-spacing: 15px;
    padding: 0 20px;
    margin-bottom: 10px;
    font-size: 90px;
    font-style: italic;
}

.section-anime p{
    font-size: 20px;
    text-indent: 10px;
    padding: 5px;
    
}

.btn-anime{
    width: auto;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
}

aside{
    width: 300px;
    margin: 10px;
}

aside h2{
    margin-bottom: 0;
}

.btn-anime input:first-child{
    display: none;
}

.btn-anime a{
    width: 40%;
    background-color: #EE8C04;
    color: #fff;
}